%h4 Prochain événement
-if !@event.is_a? Event or (!@event.is_a? Event and Event @event.empty?)
  %h5 Aucun prochain événement
-else
  %h5= link_to @event.title, event_path(@event)
  %p= event_name @event, params: {place: @event.place}, t: 'events.index.sticky.sub_header'
  =link_to(image_tag(@event.image.thumb.url), event_path(@event), class: 'th') unless @event.image.url.nil?
%hr
%h4 Rejoignez Valentin Rota sur Facebook
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frotavalentin&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=420500041382733" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
%hr
%h4 Abonnez-vous à la newsletter
= render 'layouts/news_letter'
