%h1 Les sponsors
%blockquote Valentin Rota remercie ses sponsors et donateurs pour leur précieux soutien sur sa route pour Rio 2016!
.row
  .columns.large-6
    .row
      .columns.small-12
        .panel
          =link_to(image_tag('bonhote.png', alt: 'image manquante du logo Banque Bonhôte', title: 'Banque Bonhôte'), 'http://www.bonhote.ch/fr/', class: 'th')
          %h3= link_to 'Banque Bonhôte', 'http://www.bonhote.ch/fr/'
        .panel
          =link_to(image_tag('cookie.png', alt: 'image manquante du logo Amis de Cookie', title: 'Amis de Cookie'), 'http://www.amisdecookie.ch', class: 'th')
          %h3= link_to 'Amis de Cookie', 'http://www.amisdecookie.ch'
  .columns.large-6
    =image_tag 'sponsor.jpg', alt: 'image manquante de Valentin Rota', title: 'Valentin Rota remercie ses sponsors et donateurs'
.row
  .columns.small-12
    %h4 Suivez et soutenez vous aussi Valentin dans son projet "Go to Rio de Janeiro"!
    =link_to 'Contactez-moi', contact_path
    facebook
