%h1 Les sponsors
.row
  .columns.large-6
    .row
      .columns.small-12
        .panel
          %h3 Banque Bonhôte
        .panel
          %h3 Les amis des cookies
  .columns.large-6
    =image_tag 'sponsor.jpg'
