%h1 Les sponsors
%blockquote Valentin Rota remercie ses sponsors et donateurs pour leur précieux soutien sur sa route pour Rio 2016!
.row
  .columns.large-6
    .row
      .columns.small-12
        .panel
          =link_to(image_tag('bonhote.png', alt: 'image manquante du logo Banque Bonhôte', title: 'Banque Bonhôte'), 'http://www.bonhote.ch/fr/', class: 'th')
          %h3= link_to 'Banque Bonhôte', 'http://www.bonhote.ch/fr/'
        .panel
          =link_to(image_tag('cookie.png', alt: 'image manquante du logo Amis de Cookie', title: 'Amis de Cookie'), 'http://www.amisdecookie.ch', class: 'th')
          %h3= link_to 'Amis de Cookie', 'http://www.amisdecookie.ch'
  .columns.large-6
    =image_tag 'sponsor.jpg', alt: 'image manquante de Valentin Rota', title: 'Valentin Rota remercie ses sponsors et donateurs'
.row
  .columns.small-12
    %h4 Suivez et soutenez vous aussi Valentin dans son projet "Go to Rio de Janeiro"!
    =link_to 'Contactez-moi', contact_path, class: 'button secondary large'
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frotavalentin&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=420500041382733" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
