%h1 Les sponsors
%blockquote Valentin Rota remercie ses sponsors et donateurs pour leur précieux soutien sur sa route pour Rio 2016!
.row
  .columns.large-6.medium-6
    .row
      .columns.small-12
        -Sponsor.where(category: :gold).each do |p|
          .panel
            =link_to(image_tag(p.image.asset.url, :'max-width' => 460,:'max-height' => 263), p.url, class: 'th')
            %h3= link_to p.title, p.url
  .columns.large-6.medium-6
    =image_tag 'sponsor.jpg', alt: 'image manquante de Valentin Rota', title: 'Valentin Rota remercie ses sponsors et donateurs'
.row
  .columns.small-12.medium-4.large-4
    .panel
      %h4 Sponsors Silver
      -Sponsor.where(category: :silver).each do |p|
        =link_to(image_tag(p.image.asset.url), p.url)
        %h5= link_to p.title, p.url
        %hr

  .columns.large-4.medium-4.small-12
    .panel
      %h4 Sponsors Bronze
      -Sponsor.where(category: :bronze).each do |p|
        =link_to(image_tag(p.image.asset.url, :'width' => 288, :'height' => 116), p.url)
        %h5= link_to p.title, p.url
  .columns.large-4.medium-4.small-12
    .panel
      %h4 Partenaires
      -Sponsor.where(category: :partner).each do |p|
        =link_to(image_tag(p.image.asset.url, :'width' => width, :'height' => height), p.url)
        %h5= link_to p.title, p.url
        %hr
.row
  .columns.small-12
    %h4 Suivez et soutenez vous aussi Valentin dans son projet "Go to Rio de Janeiro"!
    =link_to 'Contactez-moi', contact_path, class: 'button secondary large'
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frotavalentin&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=420500041382733" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
