%h1 Les sponsors
%blockquote Valentin Rota remercie ses sponsors et donateurs pour leur précieux soutien sur sa route pour Rio 2016!
.row
  .columns.large-6
    .row
      .columns.small-12
        .panel
          %h3 Banque Bonhôte
        .panel
          %h3 Les amis des cookies
  .columns.large-6
    =image_tag 'sponsor.jpg', alt: 'image manquante de Valentin Rota', title: 'Valentin Rota remercie ses sponsors et donateurs'
.row
  .columns.small-12
    %h4 Suivez et soutenez vous aussi Valentin dans son projet "Go to Rio de Janeiro"!
    =link_to 'Contactez-moi', contact_path
    facebook
