
-#%dl.sub-nav
-#  %dd.active.my-sticky
-#    =link_to 'En-haut', '#', class: 'hide', id:'to-top'
.row
  .off-canvas-wrap
    .inner-wrap
      .hide-for-large.show-for-small
        %a.left-off-canvas-toggle.button.small
          Prochain événement
      %h1
        = t('static_pages.home.h1.title')
      .columns.large-8.medium-8#posts
        =render @posts
      .columns.small-4#home-right.hide-for-small
        .panel
          =render 'aside'
      %aside.left-off-canvas-menu.hide-for-large.show-for-small#vr-canvas
        .panel
          =render 'aside'
#paginate
  =paginate @posts
