%h3= t('author')
%p
  %strong Prénom, Nom :
  Valentin Rota
%p
  %strong Date de naissance :
  14 janvier 1991
%p
  %strong Domicile :
  Biel/Bienne, Suisse
%p
  %strong Taille :
  167cm
%p
  %strong Club:
  =link_to 'Judo Club Biel-Nidau', 'http://www.jcbn.ch'
%p
  %strong Coach :
  Dirk Radszat
%p
  %strong Hobbies :
  Sports en général, cinéma, amis.