.row
  .off-canvas-wrap
    .inner-wrap
      .hide-for-large.show-for-small
        %a.left-off-canvas-toggle.button.secondary.small
          Bio
      %h1 Portrait
      .columns.large-8
        -if @portfolio.nil?
          %p Aucune Image
        -else
          =render partial: 'layouts/image', locals: {image: @portfolio.image, to_show: @portfolio.image.asset.url}
      .columns.large-4.hide-for-small
        =render 'bio'
      %aside.left-off-canvas-menu.hide-for-large.show-for-small#vr-canvas
        .panel
          =render 'bio'

.row
  .columns.small-12
    -if @portfolio.nil?
      %p Aucune description
    -else
      %p= @portfolio.description.html_safe