%h1 Portrait
.row
  .columns.small-8
    -if @portfolio.nil?
      %p Aucune Image
    -else
      =render partial: 'layouts/image', locals: {image: @portfolio.image, to_show: @portfolio.image.asset.url}
  .columns.small-4
    %h3= t('author')
    %p
      %strong Né le :
      28 avril 1990
    %p
      %strong Domicile :
      Bienne
    %p
      %strong Taille :
      1m 65
    %p
      %strong Catégorie :
      blabla
    %p
      %strong Club:
      Judoklub-Bienne
    %p
      %strong Débuts professionel :
      Il y qqe années
    %p
      %strong Hobbies :
      des trucs et d'autres. Notament plein de choses et d'autres!!!
    %p
      %strong Idoles :
      Personne

.row
  .columns.small-12
    -if @portfolio.nil?
      %p Aucune description
    -else
      %p= @portfolio.description.html_safe