.row
  .columns.small-8
    %h1= @event.title
    =link_to(image_tag(@event.image.url), @event.image.url, class: 'th') unless @event.image.url.nil?
    %h3
      Du
      =l(@event.starting_at, format: :long)
      au
      =l(@event.ending_at, format: :long)
      à
      =@event.place
    %p= @event.description
  .columns.small-4
    =link_to 'Retour au calendrier', events_path, class: 'button'
    =render 'events/side'