%h1 Mes objectifs
-if @objective.nil?
  %p Aucun Objectifs
-else
  .row
    .columns.large-8.medium-7.small-12
      =render partial: 'layouts/image', locals: {image: @objective.image, to_show: @objective.image.asset.portrait.url}
    .columns.large-4.medium-5.small-12
      %table
        %thead
        %tbody
          -@objective.objectives.each do |o|
            %tr
              %td= o.name
              %td= o.description
  .row
    .columns.small-12
      %p= raw @objective.main