-unless post.to_front?
  .row
    .columns.small-12
      %h3= post.title
      %h6.subheader= t('static_pages.home.h1.published_by', author: t('author'), time: time_ago_in_words(post.updated_at))
      =# image_tag(a_post.image.thumb.url)
      -if !post.test_image.nil? and post.test_image.asset.present?
        =render partial: 'layouts/image', locals: {image: post.test_image, to_show: post.test_image.asset.portrait.url}
      -elsif post.video.present?
        .flex-video
          = raw post.video.url.html_safe
      %p= post.body.html_safe
      %hr
