!!! 5
%html
  %head
    %meta{content: 'text/html: charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h2
      Valentin Rota a publié un
      %a{href: post_url(@post)}
        nouvel article
    %h3= @post.title
    -unless attachments['image.jpg'].nil?
      =image_tag attachments['image.jpg'].url
      .legend
        %h5= @post.test_image.title
        %legend= @post.test_image.legend
    %p= @post.body.html_safe
    %hr
    %footer
      %p
        Visitez le site de
        %a{href: 'http://valentin-rota.ch'} Valentin Rota
        pour lire ses articles, connaître son calendrier ou voir ses photos et vidéos
      %p Cet e-mail vous a été envoyé automatiquement suite à votre inscription à la news letter