@import "foundation_and_overrides";
.image {
  margin-bottom: emCalc(10px);
  .th {
    box-shadow: none;
    border-bottom: 0px solid black;
  }
  .legend {
    //padding-bottom: emCalc(4px);
    background-color: black;
    margin-left: emCalc(4px);
    margin-right: emCalc(4px);
  }
  h5, legend {
    color: white;
    padding-left: emCalc(4px);
  }
  h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  legend {
    margin-top: emCalc(5px);
  }
}

#home-right {
  margin-top: emCalc(12px);
}

.past {
  ul, li {
    list-style: none;
  }
  ul {
    margin-bottom: 0px;
  }
  .months, .events, .month, .event {
    display: none;
  }
  .open {
    display: list-item;
  }
}

.events-image {
  max-height: 50px;
}

.image .legend {
  padding-top: emCalc(5px);
    padding-bottom: emCalc(15px);
  }

#to-top:hover {
  cursor: hand;
}